@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/result" method="get" id="myForm">
    <div class="text-center">
        <h1 class="display-4">Encontrar Universidades</h1>
        @using (Html.BeginForm("Result", "Home"))
	    {
            <input type="text" name="name" /><br />
            <input type="submit" value="Buscar" />
	    }
    </div>
</form>